@model CaritasWYN.Models.Referrer

@{
    ViewData["Title"] = "Details";
}

<div class="jumbotron">
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Referrer Info</h1>
                <hr />
            </div>
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Office)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Office)
                    </dd>
                </dl>
                <hr />
                <a asp-action="Edit" asp-route-id="@Model.ReferrerId" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
</div>