@model IEnumerable<CaritasWYN.Models.Referrer>

@{
    ViewData["Title"] = "Referrers";
}

<div class="jumbotron">
    <div class="d-flex justify-content-center">
        <div class="row>">
            <h1>Referrers List</h1>
            <table class="table table-borderless table-hover" style="width: 50vw;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Office)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Office)
                            </td>
                            <td class="text-right">
                                <a asp-action="Edit" asp-route-id="@item.ReferrerId" class="btn btn-info">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.ReferrerId" class="btn btn-outline-dark">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.ReferrerId" class="btn btn-danger">&#10005</a>
                            </td>
                        </tr>
                    }
                    <tr>

                        <td class="text-right" colspan="5">
                            <a asp-action="Create" class="btn btn btn-primary">Add &#10010</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>