@model IEnumerable<CaritasWYN.Models.Act_type>

@{
    ViewData["Title"] = "Activity Type";
}

    <div class="jumbotron">
        <div class="d-flex justify-content-center">
            <table class="table table-borderless table-hover" style="width: 40vw;">
                <thead>
                    <tr>
                        <th colspan="2">
                            <h1 class="text-center font-weight-bold"> @Html.DisplayNameFor(model => model.ActivityName) </h1>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="align-middle">
                            <a asp-action="Edit" asp-route-id="@item.Act_typeId" class="btn btn-outline-dark"> @Html.DisplayFor(modelItem => item.ActivityName)</a>
                        </td>
                        <td class="text-right">
                            @*<a asp-action="Edit" asp-route-id="@item.Act_typeId" class="btn btn-secondary">Edit &#9998</a>
                            <a asp-action="Details" asp-route-id="@item.Act_typeId" class ="btn btn-primary">Details</a> *@
                            <a asp-action="Delete" asp-route-id="@item.Act_typeId" class="btn btn-danger">&#10005</a>
                        </td>
                    </tr>
                        
                    }
                    <tr>
                        <td></td>
                        <td class="text-right">
                            <a asp-action="Create" class="btn btn btn-primary">Add &#10010</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>