@model CaritasWYN.Models.Group

@{
    ViewData["Title"] = "Group Details";
}

<div class="jumbotron">
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Staff Info</h1>
                <hr />
            </div>
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Staff)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Staff.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Client)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Client.FullName)
                    </dd>
                </dl>
                <hr />
                <a asp-action="Edit" asp-route-id="@Model.GroupId" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
</div>