@model IEnumerable<CaritasWYN.Models.JobDuty>

@{
    ViewData["Title"] = "Job Duties";
}


<div class="jumbotron">
    <div class="d-flex justify-content-center">
        <table class="table table-borderless table-hover" style="width: 40vw;">
            <thead>
                <tr>
                    <th colspan="2">
                        <h1 class="text-center font-weight-bold"> @Html.DisplayNameFor(model => model.JobType)</h1>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.JobDutyId" class="btn btn-outline-dark"> @Html.DisplayFor(modelItem => item.JobType)</a>
                        </td>
                        <td class="text-right">
                            @*<a asp-action="Edit" asp-route-id="@item.JobDutyId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.JobDutyId">Details</a> |*@
                            <a asp-action="Delete" asp-route-id="@item.JobDutyId" class="btn btn-danger">&#10005</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td class="text-right">
                        <a asp-action="Create" class="btn btn btn-primary">Add &#10010</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>