@model CaritasWYN.Models.Client

@{
    ViewData["Title"] = "Details";
}

<div class="jumbotron">
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Client Info</h1>
                <hr />
            </div>
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Age)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Room)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Room)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Floor)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Floor)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Street)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Street)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Building)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Building)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.District)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.District)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Referrer)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Referrer.Name)
                    </dd>
                </dl>
                <hr />
                <a asp-action="Edit" asp-route-id="@Model.ClientId" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
</div>