@model IEnumerable<CaritasWYN.Models.DailyActivity>

@{
    ViewData["Title"] = "Daily Activity";
}

    <h1>Daily Activity</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Act_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowVersion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Act_Type.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowVersion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DailyActivityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DailyActivityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DailyActivityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
